# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds y temporales
dist/
build/
.cache/
.parcel-cache/

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
